!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}
    %title= current_page.data.title || "The Middleman"
    = stylesheet_link_tag "normalize", "all", "http://yui.yahooapis.com/pure/0.2.1/pure-min.css"
    = javascript_include_tag  "all"
    = javascript_include_tag "libs/modernizr-2.6.1.min", "mylibs/html5", "mylibs/selectivizr-min", "mylibs/smoothScroll"
  %body{:class => page_classes}
    #layout.pure-g-r
      .sidebar.pure-u
        = partial "menu"
      .pure-u-1
        .main
          = yield