---
title:     BLOG | CAMURO
bodyclass: blog
pageable: true
per_page: 5
---

- page_articles.each_with_index do |article, i|
  %section.post
    .post-head
      %h2
        = link_to article.title, article
      .date
        %time= article.date.strftime('%b %e %Y')
        %ul.tags
          - article.data.tags.each do |f|
            %li
              = link_to f, "blog/tags/#{f.downcase}.html"
    .post-body
      = article.body
- if paginate
  .paging-module
    %ul.pure-paginator
      %li
        - if prev_page
          = link_to prev_page do
            .paging.pure-button.prev
              &lt;
              / %i.icon-chevron-left
      %li
        - if next_page
          = link_to next_page do
            .paging.pure-button.next
              &gt;
              / %i.icon-chevron-right
